<!-- MAP -->
<div id="contents" #contents>
</div>
<form>
  <label for="latitude">Latitude:</label>
  <input type="text" id="latitude" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required
    pattern="^[0-9]*$">

  <label for="longitude">Longitude:</label>
  <input type="text" id="longitude" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required
    pattern="^[0-9]*$">

  <button (click)="onSubmit()">Submit</button>
</form>

<p>Latitude: {{ latitude }}</p>
<p>Longitude: {{ longitude }}</p>


<label for="removeMarkerDropdown">Select Marker to Remove:</label>
<select id="removeMarkerDropdown" [(ngModel)]="selectedMarkerIndex">
  <option *ngFor="let marker of markers; let i = index" [value]="i">{{ markers[i + 1]['label'] }}</option>

</select>
<br>
<button (click)="removeMarkerByIndex(selectedMarkerIndex)">Remove Selected Marker</button>
<br>
